credentials.json
token.json
lectioSecrets.json
googleSecrets.json
googleModules.json
lectioModules.json
schedule.json
bin/lectigo-darwin
bin/lectigo-linux
bin/lectigo-windows
.env
service_credentials.json 